/* You can add global styles to this file, and also import other style files */

nav a:visited, a:link {
    color: #607D8B;
}

nav.a.hover {
    color:#607D8B;
    background-color: #CFD8DC;
}

nav.a.active {
    color:#039be5;
}

button:hover {
    background-color: #CFD8DC;
}

button:disabled{
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}
h1{
color: navy;
}
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px
    }
nav a:visited, a:link {
    color: #607D8B;
    }